
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background: #e6effa;
    padding: 0;
    margin: 0;
}

section {
    max-width: 2000px;
    margin: auto;
}

hr {
    margin: 20px 0px;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.5em;
}

p {
    font-size: 1.2em;
}

header {
    background: #fff;
    box-shadow: 0 0 10px #b6b6b6;
    padding: 1rem;
    position: sticky;
    top: 0px;
    width: 100%;
}

header .container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

header .logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header h1 {
    font-size: 2.2em;
}

header .logo img {
    max-width: 100px;
    margin: 1rem;
    border-radius: 5px;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1.1em;
    padding: 0.55rem 0.55rem;
    border-radius: 14px;
}

header nav ul li a:hover {
    background-color: #dddddd;
    transition: background-color 0.3s ease;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 6px 12px;
}

.dropdown:hover .dropdown-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.profile-logged {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.profile-logged .profile-icon {
    color: #fff;
    min-width: 65px;
    width: 65px;
    height: 65px;
    background-color: #47B2E6;
    background: url(user_icons/cat_on_apple.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border-radius: 50%;
    text-align: center;
    font-style: normal;
}

.profile-logged .profile-name {
    font-size: 1.2rem;
    font-weight: bold;
}

.profile-logged .profile-gmail {
    font-size: 1rem;
    font-weight: normal;
}

.welcome-section {
    /*background: linear-gradient(to left bottom, rgb(70, 177, 229), rgb(4, 15, 161)) border-box;*/
    background-image: url("backgrounds/stylish-back.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #ffffff;
    padding: 2rem;
    display: flex;
    align-items: center;
}

.welcome-section .container h1 {
    font-size: 7rem;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.2;
    margin-left: 80px;
    margin-right: 80px;
    text-shadow: -5px 5px 5px #0000005b;
}

.welcome-section .container p {
    font-size: 2.5rem;
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    line-height: 1.2;
    text-shadow: -5px 5px 5px #0000005b;
    margin-left: 80px;
}

.about-section {
    background: #fff;
    box-shadow: 0 0 10px #b6b6b6;
    padding: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 2000px;
    margin: 0 0;
}

.about-section h2 {
    margin-bottom: 1rem;
}

.about-section p {
    color: #000000;
    margin-bottom: 80px;
}

.about-section .about-description-grid {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.about-section .about-description {
    flex: 1 1 30%;
    max-width: 320px;
    min-width: 220px;
    line-height: 1.5;
    text-align: center;
    border-radius: 28px;
    overflow: hidden;
}

.about-section .about-description img {
    width: 50%;
}

.about-section .about-description .bd-none {
    border-width: 0;
}

.team-section {
    background: #ffffff;
    box-shadow: 0 0 10px #b6b6b6;
    padding: 2rem;
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-section h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.team-section .team-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team-section .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    color: #000000;
    margin-left: 80px;
}

.team-section .team-grid {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.quote-form {
    background: linear-gradient(to left bottom, rgb(70, 177, 229), rgb(42, 81, 209)) border-box;  
    padding: 20px;
    border-radius: 5px;
    max-width: 350px;
    height: auto;
    margin: 20px auto;
}

.quote-form h3 {
    display: flex;
    justify-content: center;
    color:#ffffff;
}

.quote-form input, .quote-form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.quote-form button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.quote-form button:hover {
    background-color: #ddd;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.team-members-section {
    background: #ffffff;
    box-shadow: 0px 10px 10px -9px #b6b6b6;
    padding: 2rem;
    padding-top: 0;
    margin: auto;
    margin-bottom: 32px;
}

.team-members-section h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.team-members-section .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 1.5em;
}

.team-members-section .team-members-grid {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.team-members-section .team-member {
    flex: 1 1 30%;
    max-width: 220px;
    min-width: 220px;
    text-align: center;
    padding: 1rem;
    overflow: hidden;
}

.team-members-section .team-member img {
    width: 100%;
    height: auto;
    background: linear-gradient(to right top, rgb(70, 177, 229), rgb(42, 81, 209)) border-box;
    border-radius: 50%;
    border: 5px solid transparent;
}

.collection-section {
    background: #ffffff;
    box-shadow: 0 0 10px #b6b6b6;
    padding: 2rem;
    margin: auto;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.collection-section h2 {
    text-align: center;
    margin-bottom: -3rem;
}

.collection-section h3 {
    text-align: center;
    margin-top: 10px;
}

.collection-section h4 {
    text-align: center;
    font-size: 10rem;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 14px;
    text-shadow:
    -2px -2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    2px 2px 0 black;
}

.collection-section p {
    font-size: 1rem;
}

.collection-section p span {
    text-decoration: line-through;
}

.collection-section .brand-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin: 100px 0;
}

.collection-section .shaori {
    background-image: url(brands/shaori/logo/header_shaori.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 14px;
    width: 100%;
}

.collection-section .rsvt {
    background-image: url(brands/rsvt/logo/header_rsvt.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 14px;
    width: 100%;
}

.collection-section .collection-grid {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
}

.collection-section .collection-item {
    flex: 1 1 30%;
    max-width: 400px;
    min-width: 400px;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.7rem;
    overflow: hidden;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.collection-section .collection-img {
    max-height: 400px;
}

.collection-section .collection-item .front {
    object-fit: cover;
    background: #ffffff;
    width: auto;
    height: 100%;
    min-width: 400px;
    border-radius: 28px;
}

.collection-section .collection-item .back {
    object-fit: cover;
    background: #ffffff;
    width: auto;
    height: 100%;
    min-width: 400px;
    border-radius: 28px;
}

.trust-section {
    background: #fff;
    box-shadow: 0 0 10px #b6b6b6;
    padding: 2rem;
}

.trust-section .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.trust-section h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.trust-section h3 {
    margin-bottom: 32px;
}

.trust-section .reviews-grid {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
}

.trust-section .reviews-grid blockquote {
    flex: 1 1 30%;
    max-width: 400px;
    min-width: 400px;
    color: #666;
    background: #f9f9f9;
    padding: 1rem;
    border-radius: 28px;
    overflow: hidden;
}

.trust-section .reviewer {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.trust-section .reviewer-icon-word {
    color: #fff;
    width: 50px;
    height: 50px;
    background-color: #47B2E6;
    border-radius: 50%;
    text-align: center;
    font-style: normal;
    padding-top: 11px;
}

.trust-section .reviewer-name {
    margin-left: 16px;
    font-size: 1.2rem;
    font-weight: bold;
    color:#3a3a3a;
    padding-top: 2px;
}

.faq-section {
    background: #fff;
    box-shadow: 0px 10px 10px -9px #b6b6b6;
    padding: 2rem;
    padding-top: 0;
    margin-bottom: 32px;
}

.faq-section .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.faq-section h3 {
    margin-bottom: 12px;
}

.faq-section details {
    margin-bottom: 12px;
}

.faq-section .faq summary {
    font-weight: bold;
    font-size: 1.3rem;
    cursor: pointer;
    margin-bottom: 8px;
}

.faq-section p {
    font-size: 1.1rem;
    margin-left: 20px;
}

footer {
    background: #333;
    color: #fff;
    padding: 2rem;
    text-align: center;
}

footer p {
    margin: 0.5rem 0;
}

.contact-section {
    text-align: center;
}

.contact-section .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1rem;
}

.contact-section .social-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #ddd;
    border-radius: 100px;
    text-align: center;
    line-height: 32px;
    transition: background-color 0.13s ease, transform 0.13s ease;
}

.contact-section .social-icons a img {
    width: 32px;
    height: 32px;
}

.contact-section .social-icons a:hover {
    background-color: #47B2E6;
    transform: scale(1.1);
}



/* Адаптивная верстка */
@media (max-width: 1250px) {

    header nav ul {
        gap: 0;
    }

    .welcome-section .container h1 {
        font-size: 6rem;
    }
    
    .welcome-section .container p {
        font-size: 2.2rem;
    }

    .team-section .description {
        max-width: none;
        margin-left: 0;
    }

    .team-section .team-grid {
        flex-direction: column;
        max-width: none;
    }
}


@media (max-width: 768px) {

    header .logo img {
        max-width: 70px;
    }

    header nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .welcome-section .container h1 {
        font-size: 5rem;
        margin: 0 0;
    }
    
    .welcome-section .container p {
        font-size: 1.6rem;
        margin: 0 0;
    }

    .contact-section .social-icons {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 480px) {

    header .logo h1 {
        font-size: 1.3em;
    }

    header .logo img {
        max-width: 50px;
        margin: 6px;
    }

    header nav ul {
        font-size: 0.8rem;
    }

    .welcome-section .container h1 {
        font-size: 4.6rem;
        margin: 0 0;
    }
    
    .welcome-section .container p {
        font-size: 1.2rem;
        margin: 0 0;
    }

}